#!/bin/bash

# Path to the directory where the jalien and jalien-setup repository will be stored
export BASE_DIR=

# Path to the directory where the shared volume will be created
export SHARED_VOLUME=

# Path to the directory where the jalien repository will be cloned
export JALIEN=
# Path to the directory where the jalien-setup repository will be cloned
export JALIEN_SETUP=
export SCRIPT_DIR=$JALIEN_SETUP/bash
# Path to the directory where the test-suite repository will be cloned
export TEST_SUITE=

export JALIEN_SOURCE="https://gitlab.cern.ch/jalien/jalien"
export JALIEN_SETUP_SOURCE="https://github.com/FYP-Jalien/jalien-setup"
export TEST_SUITE_SOURCE="https://github.com/FYP-Jalien/test-suite"

# Lets add the container registry url here as well and mention what images should already be in the registry

# Name of the docker containers
# Might have to change these names
export CE_NAME=shared_volume_JCentral-dev-CE_1
export JCENTRAL_NAME=shared_volume_JCentral-dev_1
export SCHEDD_NAME=shared_volume_schedd_1
export SE_NAME=shared_volume_JCentral-dev-SE_1
export WORKER_NAME=shared_volume_worker1_1
